body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:center;
	font-family:verdana,arial,tahoma,sans serif;
	color:#ccc;
	background-color:#555;
}
a {
	color:#aaa;
	text-decoration:none;
}
a:hover {
	color:#ddd;
	text-decoration:underline;
}
h1 {
	color:#eee;
	margin:10px 0 0 0;
	padding:0;
}
h3 {
	padding:0;
	margin:0 0 30px 0;
}
#header { width: 100%; text-align:right; }
#menu { height:130px; width:800px; text-align:center; margin-left:auto; margin-right: auto; }
#ajax_loader { margin-top:10px; }

/* Start Keyboard Configuration */
#keyboard_container {
	margin:20px;
}
#main {
	float:left;
}
#function_keys {
	width:1140px;
}
.fkey_block {
	margin-right:43px;
	border:1px solid #000;
	float:left;
}
.last_fkey_block {
	border:1px solid #000;
	float:left;
}
#center_fkey_block {
	border:1px solid #000;border-bottom:2px solid;margin-bottom:10px;
}
#keyboard { 
	float:left;
	border:1px solid #000;
	margin:10px 44px 20px 0;
	width:1138px;
	height:385px;
}
#center_chunk {
	float:left;margin-right:34px;margin-top:0;width:233px;
}

#arrows {
	margin-top:77px;
	padding-left:77px;
}

#numpad {
	float:left;
	border:1px solid #000;
	width:308px;
	margin:86px 10px 10px 10px;
}
#numpad_enter {
	height:152px;
}
#numpad_insert {
	width:152px;
}
#numpad_plus {
	height:152px;
}
.row {
	min-width:1px;
	clear:left;
	margin:0;
	padding:0;
	height:75px;
}
.key, #key_tab, #key_caps_lock, #key_left_shift, #key_left_ctrl, #key_space_bar {
	float:left;
	height:75px;
	border:1px solid #000;
	font-size:11px;
	font-family:verdana,sans serif;
	text-align:center;
	overflow:hidden;
}
.row h2 {
	margin:20px 0 0 0;
	padding:4px;
	font-size:11px;
}
.key { width:75px; background-color:#fff; color:#000; }
#key_backspace { width:135px; }
#key_tab, #key_left_ctrl, #key_right_ctrl, #key_backslash { width:105px; }
#key_caps_lock { width:130px; }
#key_enter { width:157px; }
#key_left_shift, #key_right_shift { width:182px; }
#key_space_bar { width:477px; }
#key_left_special, #key_left_alt, #key_right_special, #key_right_alt { width:90px; }

.keyboard_layout {
	float:left;
	padding:4px 0 0 4px;
	font-size:13px;
	color:#444;
	z-index:-100;
}

.key_title {
	cursor:pointer;
	position:relative;
	z-index:100;
	font-size:11px;
}

#current_bind {
	padding:8px;
	border:2px solid #888;
	background-color:#444;
	width:1440px;
	height:18px;
	font-weight:bold;
	font-size:14px;
	text-align:left;
}


#scroll_left {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:200px;
	background-color:#333;
	z-index:2000;
}

#scroll_right {
	position:fixed;
	top:0;
	right:0;
	height:100%;
	width:200px;
	background-color:#333;
	z-index:2000;
}
